---
# Only the main Sass file needs front matter (the dashes are enough)
---


@charset "utf-8";

// Reduce notebook container shadow effect
#notebook-container {
  padding: 0px;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(87, 87, 87, 0.2);
  box-shadow: 0px 0px 0px 0px rgba(87, 87, 87, 0.2);
}

div#notebook {
  padding-top: 0px;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

/* type scale */
//$type-size-1 : 2.441em;  // ~39.056px
$type-size-1 : 1.953em;  // ~31.248px
$type-size-2 : 1.563em;  // ~25.008px
$type-size-3 : 1.25em;   // ~20px
$type-size-4 : 1em;      // ~16px
$type-size-5 : 0.75em;   // ~12px
$type-size-6 : 0.6875em; // ~11px
$type-size-7 : 0.625em;  // ~10px
$type-size-8 : 0.625em;  // ~10px

$right-sidebar-width: 250px;

$x-large: 1360px;
$max-width: $x-large;

$border-color : mix(#fff, #7a8288, 75%);

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
